.Container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 40px;
}
.Item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-basis: 15%;
    flex-grow: 1;
    cursor: pointer;
}
.Image {
    width: 100%;
    filter: grayscale(100);
    transition: 0.4s;
    opacity: 0.7;
}
.Item:hover .Image {
    filter: grayscale(0);
    opacity: 1;
}

@media (max-width: 480px) {
    .Item {
        flex-basis: 19%;
    }
}